.player-widget {
  menubutton > button {
    padding: 0;
    background-color: $background;
    label {
      font-weight: 700;
    }
    .cover-art {
      opacity: 0.4;
    }
    .content {
      padding: 5px;

      .mpris-icon {
        border-radius: 50%;
        animation: spin 10s linear infinite;

        &.paused {
          animation-play-state: paused;
        }

        @keyframes spin {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
}
