// Section 9 fixed palette

$background: #02080e;
$foreground: #daeef2;
$cursor: #5bdaeb;

$color0: #02080e;
$color1: #ff5b69;
$color2: #50e6aa;
$color3: #f2b84b;
$color4: #5bdaeb;
$color5: #a78bfa;
$color6: #5bdaeb;
$color7: #daeef2;

$color8: #52666e;
$color9: #ff7b86;
$color10: #73efbe;
$color11: #ffd477;
$color12: #85e8f2;
$color13: #c5a7ff;
$color14: #93f4ff;
$color15: #ffffff;
